

.movie-section{
  margin-top: 10px;
  padding: 60px;
}

.movie-section > h3{
  color: #f4c518;
  margin-bottom: 20px;
}



.movies--list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  height: calc(100vh - 270px);
}

.movie {
  border: 0;
  position: relative;
  display: flex;
}

.movie--poster {
  background-color: #080404;
  min-height: 200px;
}

.movie--poster img {
  max-width: 100%;
}

.movie--title {
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 40px;
  background: #e9b433;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie--title h3{
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
